@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

<div id="chartContainer"></div>

<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light2",
            zoomEnabled: true,
            animationEnabled: true,
            title: {
                text: "Line Chart in ASP.Net MVC using CanvasJS"
            },
            subtitles: [
                {
                    text: "Try Resizing the Browser"
                }
            ],
            axisX:{
                //valueFormatString: function(e){
                //    if(e.chart.axisY[0].minimum === e.value || e.chart.axisY[0].maximum === e.value)
                //        return e.value;
                //    return "";
                //},
                //stripLines: [{
                //    value: 15,
                //    thickness: 2,
                //    label: "Now",
                //    color: "green",
                //    labelPlacement: "outside"
                //}],
                valueFormatString: "DD-MM-YY" ,
                labelAngle: -50
                //tickLength: 0
            },
            data: [
                {
                    type: 'line',
                    //indexLabel: '{label}',
                    //indexLabelPlacement: 'outside',
                    //indexLabelOrientation: 'horizontal',
                    dataPoints: @Html.Raw(ViewBag.DataPoints)
                    //dataPoints: [
                    //    { x: 1, y: 10, label: "Apples" },
                    //    { x: 3, y: 15, label: "Mangos" },
                    //    { x: 9, y: 25, label: "Oranges" },
                    //    { x: 19, y: 30, label: "Grapes" },
                    //    { x: 51, y: 28, label: "Bananas" }
                    //]
                }
            ]
        });
        chart.render();
    };
</script>