.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-box__input {
    width: 400px;
    height: 35px;
    padding: 8px;
    font-size: 14px;

    background-color: #0A4048;

    border-radius: 5px;
    border: 1px solid #000000;

    outline: none;
}

.search-box__button {
    margin-left: 10px;
    width: 50px;
    height: 35px;

    background-color: #054852;
    color: #ffffff;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}
